# Python
backend/.venv/
backend/__pycache__/
**/__pycache__/
*.pyc
backend/.env

# Node
frontend/node_modules/
frontend/dist/
npm-debug.log*
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# Editors / OS
.DS_Store
.vscode/
.idea/
